html, body, #intro{
	height: 100%;
}

#intro {
   background: url('../img/condominio.jpg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#opacity{
	  background-color: black;
	  opacity: 0.8;
	height: 100%;
	width: 100%;
	position: relative;

}

#conteudo{
  text-align: center;
  position: absolute;
  top: 40%;
  color: white;
  
  font-size: 90px;
}

